* {
  margin: 0;
}
@media only screen and (max-width: 540px)  {
  header {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    
    }
  body{
    background-color: lightgray;
  }
 .hor{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  }

dl {
  border: 8px;
  padding: 16px;
  margin: 16px;
   
  }

dd {
  border: 8px;
  padding: 16px;
  margin: 16px;
   }
}

@media (min-width: 541px) and (max-width: 960px) {
  body{
    background-color: lightsteelblue;
 }
 header {
    
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  }
 .hor{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

dl {
  border: 8px;
  padding: 16px;
  margin: 16px;
 
  }

dd {
  border: 8px;
  padding: 16px;
  margin: 16px;
  
  }
  
}


 @media only screen and (min-width: 961px) {
  body {
    background-color: lightslategray
  }
  header {
    
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  }
  
  
  .hor{
    display: flex;
    flex-wrap: nowrap;  
    justify-content: space-around;
    object-fit: cover;
  }
  
  dl {
    border: 8px;
    padding: 16px;
    margin: 16px;
    
  }
  
  dd {
    border: 8px;
    padding: 16px;
    margin: 16px;
  }
}

.container {
  justify-content: flex-end;
}

header {
  background-color: #333;

}

h1 {
  display: inline-block;
  color: #fff;
  font-size: 50px;
  padding: 10px 20px;
}

nav {
  float: right;
  padding: 10px 20px;
}

a {
  padding: 0 20px;
  color: #fff;
  text-decoration: none;
}

a:hover {
  background-color: black;
}

.imghome {
  width: 100%;
}

footer {
  padding-top: 30px;
  color: white;
  text-align: center;
  height: 100px;
  background-color: #333;
}

img {
  width: 240px;
  height: 160px;
  }